* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* background: #000000; */
    background: linear-gradient(135deg, #65edff, #222);
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #65edff, #222);
}

.gifPlayer img{
height: 90vh;
width: 100%;
}
.gifPlayer2 img{
height: 40vh;
width: 40vb;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}
.hero-text span {
    color: #00d4ff;
}
.hero-text p {
    font-size: 18px; margin-bottom: 25px;
}
.hero button {
    padding: 12px 28px;
    border: none;
    background: #00d4ff;
    color: black;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.hero button:hover {
    background: white;
}
/* 

.skills{
background: linear-gradient(135deg, #546eff, #fc0808);
}

.projects{
background: linear-gradient(135deg, #54ffaf, #b11d00);
}

.contact{
background: linear-gradient(135deg, #8c9cfb, #00d9ff);
} */

.skills, .projects, .contact {
    padding: 70px 80px;
}
.skills h2, .projects h2, .contact h2 {
    font-size: 32px;
    margin-bottom: 25px;
}



/* .figma { width: 90%; background: #00d4ff; }
.xd { width: 80%; background: #ff2bc5; }
.uiux { width: 95%; background: #9eff00; } */

@keyframes grow {
    from { width: 0; }
    to { width: var(--width); }
}

/* PROJECT CARDS */
.projects {
  /* background: #0d0d0f; */
  padding: 80px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 700;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.project-card {
  background: #a4a4f8;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s ease;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #00fff2;
  box-shadow: 0 6px 18px rgba(0,255,242,0.2);
}

.project-icon {
  font-size: 40px;
  color: #00fff2;
  margin-bottom: 15px;
}

.project-card h3 {
  color: #fff;
  margin-bottom: 10px;
}

.project-card p {
  color: #cfcfcf;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.project-btn {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid #00fff2;
  color: #00fff2;
  border-radius: 6px;
  transition: .25s;
  font-size: 14px;
  text-decoration: none;
}

.project-btn:hover {
  background: #00fff2;
  color: #000;
}


/* CONTACT */
.contact p {
    font-size: 18px;
}

.banner-slider {
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
    position: relative;
    width: 98.5%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* background: linear-gradient(135deg, #0b0b0b, #222); */
    /* border: 10px solid black; */
}


.skill-img{
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: linear-gradient(135deg, #0b0b0b, #222); */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    align-items: center;
}

.slide1{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s ease-in-out;

}
.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    
    position: absolute;
    bottom: 80px;
    left: 60px;
    color: #fff;
}


.banner-content h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner-content p {
    font-size: 20px;
    opacity: 0.9;
}

/* Dots */
.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dots div {
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: .5;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.dots .active-dot {
    opacity: 1;
    transform: scale(1.2);
}

.contact-section {
  text-align: center;
  padding: 80px 20px;
  /* background: linear-gradient(135deg, #90e3ee, #9e03e6); */
}

.contact-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.contact-item {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.contact-item:hover {
  color: #0077b5; /* LinkedIn color feel */
}

.resume-btn {
  display: inline-block;
  padding: 12px 28px;
  font-size: 18px;
  background: #0077ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #005fcc;
}


.cards-section {
  text-align: center;
  padding: 80px 20px;
  /* background: linear-gradient(135deg, #90e3ee, #9e03e6); */
}

.section-title {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-image: url(images/bg.png);
   position: relative;
  /* width: 400px; */
  height: 250px;
  /* background-image: url(bg.png) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: contain;
    /* background: linear-gradient(135deg #56ffb8 #ff0000); */
    /* border-radius: 12px; */
  padding: 0px;
  /* box-shadow: 0 10px 25px rgba(255, 187, 187, 0.2); */
  transition: 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-8px);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.15); */
  filter: drop-shadow(10px 20px rgba(0,0,0,0.15));

}

.card img {
  margin: 12px;
  width: 80%;
  height: 45%;
  border-radius: 10px;
  /* margin-bottom: 15px; */
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.card p {
  color: #555;
  font-size: 15px;
  margin-bottom: 15px;
}

.card-btn {
  display: inline-block;
  padding: 10px 18px;
  background: #0077ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.card-btn:hover {
  background: #005fcc;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #080034; /* or black if your navbar is dark */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.contact-box {
  position: relative;
  width: 400px;
  height: 300px;
  /* background-image: url(bg.png) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: contain;
  max-width: 400px;
  width: 100%;
  padding: 35px;
  /* border-radius: 18px; */

  /* background: rgba(255, 255, 255, 0.6);  */
  backdrop-filter: blur(10px);

  /* border: 1px solid rgba(255,255,255,0.4); */
  /* box-shadow: 0 8px 25px rgba(0,0,0,0.15); */

  text-align: center;
}

.contact-box h2 {
  
  font-size: 28px;
  margin-bottom: 10px;
}

.contact-box p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 25px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}

.contact-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #000;
  transition: 0.3s;
}

.contact-item:hover {
  color: #0077ff;
  transform: translateX(4px);
}

.resume-btn {
  display: inline-block;
  background: #0077ff;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #005fcc;
}

.contact-item i {
  font-size: 20px;
}

.contact-item.social {
  font-weight: 600;
}

.contact-item.social i {
  font-size: 22px;
}

.contact-item:hover i {
  transform: scale(1.2);
  transition: 0.3s ease;
}



   
    
/* Container for chest and card */
.chest-container {
    position: relative;
    width: 400px;
    height: 400px;
    cursor: pointer;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* Chest image */
.chest {
    position: absolute;
    width: 400px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-fill-mode: forwards;
}

/* Card hidden initially */
.card1 {
  text-align: center;
  padding: 20PX;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 220px;
    height: 260px;
    background: rgb(245, 200, 200);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
    z-index: 2;
}

.chest-img{
  background-image: url('images/download\ logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100px;
  width: 100px;
  /* background: rgba(255, 255, 255, 0.002); */
}

.btn{
   background: rgba(255, 255, 255, 0.002); 
   border: 0px;
 ;
}

/* Hover triggers animation */
.chest-container:hover .chest {
    animation: openChest 0.2s steps(3) forwards;
}

.chest-container:hover .card1 {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


 /* Animation for chest opening */
    @keyframes openChest {
        0%   { background-image: url('images/æhest_closed.png'); }
        50%  { background-image: url('images/æhest_ajar.png'); }
        100% { background-image: url('images/æhest_open.png'); }
    }
