* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: #000000; */
  background: linear-gradient(135deg, #65edff, #222);
  color: white;
  /* max-width: 100dvw; */
  transition: filter 0.1s ease;
  /* smooth shadow movement */
}

.container {
  /* width: auto; */


}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}


@media (max-width: 768px) {

  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    flex-direction: row;
  }

  nav ul li a {
    /* color: white; */
    text-decoration: none;
    /* font-weight: 350; */
    font-size: 14px;
  }

  .logo {
    font-size: 16px;
    font-weight: 500;
    /* padding: 25px 50px; */
  }


}

/* HERO */
.hero {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #65edff, #222);
}

.gifPlayer img {
  /* height: 90vh; */
  /* width: 50%; */
  /* max-width: 100%; */
  /* padding-top: 70px; */
  /* filter: drop-shadow(12px 10px 12px rgba(37, 8, 8, 0.6)); */
  transition: filter 0.1s ease;
  /* smooth shadow movement */

  max-width: 100%;
  /* Prevents image from exceeding container width */
  height: auto;
  /* Maintains aspect ratio */
  display: block;
  /* Removes inline spacing issues */

}

.gifPlayer2 img {
  height: 40vh;
  width: 40vb;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-text span {
  color: #00d4ff;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 25px;
}

@media (max-width: 720px) {
  .hero {
    max-height: 50dvh;
  }

  .gifPlayer img {
    height: 40dvh;
  }

  .hero {
    padding-top: 20px;
    height: 60dvh;
 
  }


  .hero-text h1 {
    font-size: 34px;
    margin-bottom: 8px;
  }

  .hero-text span {
    color: #00d4ff;
  }

  .hero-text p {
    font-size: 10px;
    margin-bottom: 8px;
  }
}

.skills,
.projects,
.contact {
  padding: 70px 80px;
}

.skills h2,
.projects h2,
.contact h2 {
  font-size: 32px;
  margin-bottom: 25px;
}


/* PROJECT CARDS */
.projects {
  /* background: #0d0d0f; */
  padding: 0px 20px 100px 10px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 700;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.project-card {
  background: #a4a4f8;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s ease;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #00fff2;
  box-shadow: 0 6px 18px rgba(0, 255, 242, 0.2);
}

.project-icon {
  font-size: 40px;
  color: #00fff2;
  margin-bottom: 15px;
}

.project-card h3 {
  color: #fff;
  margin-bottom: 10px;
}

.project-card p {
  color: #cfcfcf;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.project-btn {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid #00fff2;
  color: #00fff2;
  border-radius: 6px;
  transition: .25s;
  font-size: 14px;
  text-decoration: none;
}

.project-btn:hover {
  background: #00fff2;
  color: #000;
}


.skill-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* CONTACT */
.contact p {
  font-size: 18px;
}


@media (max-width : 720px) {
  .slide.active {
    display: flex;
    flex-direction: column;
  }

  .slide {
  position: fixed;
  }
}


.banner-slider {
  margin: 10px;
  /* border: 2px solid black; */
  border-radius: 20px;
  position: relative;
  width: 98.5%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* background: #0d0d0f; */
  /* padding: 0px 20px 100px 10px;
  text-align: center; */
}


.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  align-items: center;
  /* margin: 20px; */
}


.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: #fff;
}

.banner-content h1 {
  font-size: clamp(1.8rem, calc(7vw + 1rem), 2rem);
  font-weight: 700;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: clamp(0.2rem, calc(5vw + 0.5rem), 1.5rem);
  opacity: 0.9;
}


/* Responsive Banner (Mobile) */
@media (max-width: 768px) {
  .banner-slider {
    max-height: 40vh; /* use vh instead of dvh for better support */
     
  }

  .slide {
    position: absolute;       /* keep stacking */
    background-color: #91ceff;
  }

  .slide img {
    width: 100%;
    height: auto;
    max-height: 60vh;         /* prevents extra tall images */
    object-fit: cover;
  }

  .banner-content {
    position: relative;
    bottom: 20px;
    left: 20px;
  }


/* 
  .banner-content h1 {
    font-size: 28px;
  }

  .banner-content p {
    font-size: auto;
  } */

  /* 
  .slide.active {
    opacity: 1;
  } */

}









/* Dots */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dots div {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: .5;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.dots .active-dot {
  opacity: 1;
  transform: scale(1.2);
}

.contact-section {
  text-align: center;
  padding: 80px 20px;
  /* background: linear-gradient(135deg, #90e3ee, #9e03e6); */
}

.contact-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.contact-item {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}


.contact-item:hover {
  color: #0077b5;
  /* LinkedIn color feel */
}


.resume {
  /* background: #0d0d0f; */
  padding: 0px 20px 100px 10px;
  text-align: center;
}

.resume-btn {
  display: inline-block;
  padding: 12px 28px;
  font-size: 18px;
  background: #0077ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #005fcc;
}


.cards-section {
  text-align: center;
  padding: 80px 20px;
  /* background: linear-gradient(135deg, #90e3ee, #9e03e6); */
}

.section-title {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: auto;
  margin: auto;
}

.card {
  background-image: url(images/bg.png);
  position: relative;
  /* width: 400px; */
  height: 250px;
  /* background-image: url(bg.png) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: contain;
  /* background: linear-gradient(135deg #56ffb8 #ff0000); */
  /* border-radius: 12px; */
  padding: 0px;
  /* box-shadow: 0 10px 25px rgba(255, 187, 187, 0.2); */
  transition: 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-8px);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.15); */
  filter: drop-shadow(10px 20px rgba(0, 0, 0, 0.15));

}

.card img {
  /* display: block; */
  margin: auto;
  /* margin: 12px; */
  width: auto;
  height: 8rem;
  border-radius: 10px;
  /* margin-bottom: 0rem;  */
}

.img-container {
  display: flex;
  justify-content: center;
  margin: 12px;
  /* width: 10rem; */
  height: 8.5rem;
  border-radius: 10px;
  margin-bottom: 0rem;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.card p {
  color: #555;
  font-size: 15px;
  margin-bottom: 15px;
}

.card-btn {
  display: inline-block;
  padding: 10px 18px;
  background: #0077ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.card-btn:hover {
  background: #005fcc;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #080034;
  /* or black if your navbar is dark */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.contact-box {
  position: relative;
  width: 400px;
  height: 300px;
  /* background-image: url(bg.png) ; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: contain;
  max-width: 400px;
  width: 100%;
  padding: 35px;
  /* border-radius: 18px; */

  /* background: rgba(255, 255, 255, 0.6);  */
  backdrop-filter: blur(10px);

  /* border: 1px solid rgba(255,255,255,0.4); */
  /* box-shadow: 0 8px 25px rgba(0,0,0,0.15); */

  text-align: center;
}

.contact-box h2 {

  font-size: 28px;
  margin-bottom: 10px;
}

.contact-box p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 25px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}

.contact-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #000;
  transition: 0.3s;
}

.contact-item:hover {
  color: #0077ff;
  transform: translateX(4px);
}

.resume-btn {
  display: inline-block;
  background: #0077ff;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #005fcc;
}

.contact-item i {
  font-size: 20px;
}

.contact-item.social {
  font-weight: 600;
}

.contact-item.social i {
  font-size: 22px;
}

.contact-item:hover i {
  transform: scale(1.2);
  transition: 0.3s ease;
}





/* Container for chest and card */
.chest-container {
  position: relative;
  /* width: 400px;*/
  height: 400px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  /* max-width: 1100px; */
  margin: auto;
  /* align-items: center; */
  justify-items: center;
}

/* Chest image */
.chest {
  position: absolute;
  max-width: 100%;
  width: 400px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;
}

/* Card hidden initially */
.card1 {
  text-align: center;
  padding: 20PX;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 220px;
  height: 260px;
  background: rgb(245, 200, 200);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s ease;
  z-index: 2;
}

.chest-img {
  background-image: url('images/download\ logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100px;
  width: 100px;
  /* background: rgba(255, 255, 255, 0.002); */
}

.btn {
  background: rgba(255, 255, 255, 0.002);
  border: 0px;
  ;
}

/* Hover triggers animation */
.chest-container:hover .chest {
  animation: openChest 0.2s steps(3) forwards;
}

.chest-container:hover .card1 {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}


/* Animation for chest opening */
@keyframes openChest {
  0% {
    background-image: url('images/æhest_closed.png');
  }

  50% {
    background-image: url('images/æhest_ajar.png');
  }

  100% {
    background-image: url('images/æhest_open.png');
  }
}


@media (max-width: 768px) {
  .chest {
    height: 50dvh;
    width: 50dvb;

    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-fill-mode: forwards;
  }